<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>ALPHAFIZIC - Verificar Código</title>
    <link rel="icon" href="{{ url_for('static', filename='img/loboauu.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/codigo.css') }}">
</head>
<body>

    <div class="container">
        <h1>ALPHAFIZIC</h1>
        <p>Insira o código enviado para o seu e-mail</p>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alerta alerta-{{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <form method="POST" action="{{ url_for('codigo') }}">
            <input type="text" name="codigo" placeholder="CÓDIGO" required maxlength="6">
            <button type="submit">Verificar</button>
        </form>

        <div style="margin-top:20px;">
            <a href="{{ url_for('esqueci_senha') }}" style="color:#6d6862; font-size:14px; text-decoration:none;">Reenviar código</a>
        </div>
    </div>

</body>
</html>
