h1 {
    color: #68625d;
    font-size: 28px;
    margin-bottom: 45px;
}

.remember {
    width: 350px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #68625d;
    font-size: 15px;
    font-weight: bold;
}

.remember input {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.forgot-password {
    width: 350px;
    margin-top: 20px;
    text-align: left;
}

.forgot-password a {
    text-decoration: none;
    color: #6d6862;
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s;
}

.forgot-password a:hover {
    color: #2f39d4;
}